.div-home{ 
        
    width: 100%;
    text-align: center;

}
.slider{
    width: 100%;
    margin-left: 0%;
    
}

.cards{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background-image: url('./assets/imagens/marce1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;

}
.cards .box{
    margin: 0 auto;
    position: relative;
    width: 33%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards .box span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.cards .box span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:8px ;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.cards .box:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.cards .box span::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius:8px ;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}
.cards .box:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
@keyframes animate{
    0%,100%
    {
        transform: translateY(10px);
    }
    50%
    {
        transform: translateY(-10px);
    }
}
.content{
    padding: 20px 50px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    height: 300px;
    width: 320px;

}
.cards .box:hover .content {
    padding: 60px 40px; 
}
.cards h2{
    font-weight: 200;
    letter-spacing: 0.05em;
}

#foto{
     display: flex;
    justify-content: center;
    width: 80%;
    overflow:hidden;
    height: 400px;
    margin:0 auto;
    
    
    
}
#hello{
    transition: 150ms ease-out;
    transform: translateX(310px);
    display: flex;
    
    margin-left: -60px;

}
#carrousel{
    margin: 0 10px;
    width: 300px;
    height: 200px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 20px;
    
    
}
.emoji i{
    opacity: 0;
}
.camada1{
   
    align-items: center;
    height: 400px;
}

.esq{
    float: left;
    padding: 10px;
    margin-left: 5%;
    margin-top: -230px;
    position: relative;
    text-decoration: none;
    transition: .4s;
    font-size:40px ;
    color: cadetblue;
}
.dir{
    float: right;
    margin-right:5% ;
    margin-top: -230px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: .4s;
    font-size: 40px;
    color: cadetblue;
}
.img-style{
    width: 100%;
    height: 300px;
}
.avaliacoes{
    height: 200px;
    text-align: center;
}

.avaliacoes h2{
    font-weight: 200;
    letter-spacing: 0.05em;
}
#star{
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: darkgray;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    font-weight: 200;
}

.comentario{
    margin-top: 30px;
    width: 500px;
    margin: 0 auto;
    height: 400px;
    background-color:rgb(238, 232, 232);
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.3);
    backdrop-filter: blur(6px);
}
.comentario input{
    width:50%;
    height: 30px;
    line-height: 25px;
    padding: 0 22px;
    font-size: 16px;
    float: left;
    margin-left: 10%;
    margin-top: 50px;
    border: 1px cadetblue solid;
}
.comentario p{
    margin-top: 20px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 0;
    color: grey;
    font-weight: 200;
    letter-spacing: 0.05em;
}




.comentario textarea{
    margin-bottom: 20px;
    resize:none;
    width: 80%;
    height: 200px;
    margin-top: 0px;
    border: 1px cadetblue solid;
    font-size: 1.3em;
}
.comentario textarea:focus{
    border: 1px cadetblue solid
}
.enviar{
    position: relative;
     margin-top: 20px;
     padding: 5px 20px 5px 20px;
     cursor: pointer;
     text-decoration: none;
     color:white;
     border: currentColor 0.125em solid;
     border-radius: 30px;
     background-color: cadetblue;
     transition: 0.3s;
    }
    .enviar:hover{
        background-color: white;
        color: cadetblue;
        border: 1px cadetblue solid;
    }
    .nos_avalie{
        display: flex;
        width: 90%;
        margin:300px auto;
    }
    .notas{
        width: 200px;
        height: 200px;
        margin: 0 5px 0 5px;
        border-radius:15px;
        box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.3);
        text-align: center;
    }
    .notas h1{
        font-size: 1.1em;
        font-weight: 700;
    }
    .notas .fa-star{
        margin-top: 7px;
        color: darkgoldenrod
    }
    .notas p{
        font-size: 0.9em;
        font-style: italic;
        width: 98%;
        text-align: center;
    }




hr{
    background-color: cadetblue;
    height: 2px;
    border: none;
    width: 50%;
}
.txt-p{ 
    font-size: 1em;
    text-align: left;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
}
.img-responsiva{
height: 100%;
width: 100%;
border-radius:10px ;
}
.form-enter-active {
    transition: all .5s ease;
   }
.form-leave-active {
transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.form-enter-from, .form-leave-to
/* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
transform: translateX(10px);
opacity: 0;
}

.fechar{ 
    float: right;
    margin-top: 0;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: cadetblue;
    border-radius: 0 5px 0 0;
}
.fechar:hover{
    background-color: red;
}

.localizacao{
    margin-bottom: 40px;
    margin-top: 300px;

}
.localizacao h1{
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
.localizacao iframe{
    width: 600px;
    height: 450px;
}
#animacao-1{
 height: 300px;
 width: 90%;
 margin: 0 auto;

}
#animacao-1 img{
    width: 50%;
    float: left;

}
#animacao-1 p{
    text-align: left;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    width:50%;
    display: flex;
    

}

@media only screen and (max-device-width:800px) {
    .localizacao iframe{ width:300px; height:450px }
    .div-home{
        background-size: 100%;
    }
    .slider{
        margin: 0 auto;
    }

}